// Button styles

@each $color, $value in map-remove($theme-colors, "secondary", "dark", "light") {
  .btn-#{$color} {
    --#{$prefix}btn-hover-bg: #{darken($value, 10%)};
    --#{$prefix}btn-active-bg: #{darken($value, 10%)};
    --#{$prefix}btn-hover-border-color: #{darken($value, 10%)};
    --#{$prefix}btn-active-border-color: #{darken($value, 10%)};
  }
}

.btn-secondary {
  --#{$prefix}btn-color: #{$gray-700};
  --#{$prefix}btn-bg: #{$gray};
  --#{$prefix}btn-border-color: #{$gray-100};
  --#{$prefix}btn-hover-color: #{$gray-700};
  --#{$prefix}btn-hover-bg: #{$dark-gray};
  --#{$prefix}btn-hover-border-color: #{$dark-gray};
  --#{$prefix}btn-active-color: #{$gray-700};
  --#{$prefix}btn-active-bg: #{$gray-200};
  --#{$prefix}btn-active-border-color: #{$gray-200};
  --#{$prefix}btn-disabled-color: #{$gray-700};
  --#{$prefix}btn-disabled-bg: #{$gray-100};
  --#{$prefix}btn-disabled-border-color: #{$gray-100};
}

.btn-dark {
  --#{$prefix}btn-hover-bg: #{$dark-black};
  --#{$prefix}btn-hover-border-color: #{$dark-black};
  --#{$prefix}btn-active-bg: #{$dark-black};
  --#{$prefix}btn-active-border-color: #{$dark-black};
}

.btn-light {
  --#{$prefix}btn-color: #{$light-black};
  --#{$prefix}btn-hover-color: #{$light-black};
  --#{$prefix}btn-hover-bg: #{$gray-200};
  --#{$prefix}btn-hover-border-color: #{$gray-200};
  --#{$prefix}btn-active-color: #{$gray-900};
  --#{$prefix}btn-active-bg: #{$gray-200};
  --#{$prefix}btn-active-border-color: #{$gray-200};
}

.btn-success,
.btn-warning,
.btn-danger,
.btn-info {
  --#{$prefix}btn-color: #{$white};
  --#{$prefix}btn-hover-color: #{$white};
}

.btn-outline-success,
.btn-outline-warning,
.btn-outline-danger,
.btn-outline-info {
  --#{$prefix}btn-hover-color: #{$white};
}

.btn-outline-secondary {
  --#{$prefix}btn-color: #{$gray-700};
  --#{$prefix}btn-border-color: #{$gray-outline};
}

.btn-outline-light {
  --#{$prefix}btn-border-color: #{$white};
  --#{$prefix}btn-bg: #{$light-black};
}
