// Variables

// colors
$gray: #EDF0F8;
$gray-outline: #BDC4DD;
$light-black: #1C1F2C;
$white: #fff;
$green: #14E17F;
$red: #F65045;
$orange: #F69A45; 
$blue: #18A0FB;
$dark-gray: #DBE1F2;
$dark-black: #0A0B14;
$dark-blue: #4A5FEF;

// Main Colors
$primary: $dark-blue !default;
$secondary: $gray !default;
$danger: $red !default;
$success: $green !default;
$warning: $orange !default;
$info: $blue !default;

$dark: $light-black !default;
$light: $white !default;

// Fonts

$font-family-base: 'Inter', sans-serif !default;
$font-size-base: 1rem !default;



// Btn Sizes
$btn-padding-y-sm: 0.63rem !default;
$btn-padding-x-sm: 1.5rem !default;
$btn-padding-y: 0.75rem !default;
$btn-padding-x: 1.75rem !default;
$btn-padding-y-lg:  0.75rem !default;
$btn-padding-x-lg:  2rem !default;
$btn-border-radius-sm: 0.375rem !default;
$btn-border-radius-lg: 0.375rem !default;
$btn-font-size-sm: 0.875rem !default;   
$btn-font-size: $font-size-base * 1 !default;  
$btn-font-size-lg: $font-size-base * 1.25 !default;

// typography

$display-font-weight: bold !default;
$display-line-height: 120% !default;
$display-font-sizes: (
  1: $font-size-base * 7,
  2: $font-size-base * 5,
  3: $font-size-base * 4.5,
  4: $font-size-base * 4,
  5: $font-size-base * 3.5,
  6: $font-size-base * 2.8
) !default;
$headings-font-weight: bold !default;
$headings-line-height:  140% !default;
$h1-font-size: $font-size-base * 3 !default;
$h2-font-size: $font-size-base * 2.5 !default;
$h3-font-size: $font-size-base * 2.25 !default;
$h4-font-size: $font-size-base * 1.75 !default;
$h5-font-size: $font-size-base * 1.5 !default;
$h6-font-size: $font-size-base * 1.25 !default;
$lead-font-weight: bold !default;


// My Prefix
$variable-prefix:             yr- !default; // Deprecated in v5.2.0 for the shorter `$prefix`