// Variables

// colors
$dark-blue: #4A5FEF;
$gray: #EDF0F8;
$gray-outline: #BDC4DD;
$black: #1C1F2C;
$white: #fff;
$green: #14E17F;
$red: #F65045;
$orange: #F69A45; 
$blue: #18A0FB;


// buttons

// buttons solid
$primary: $dark-blue !default;
$secondary: $gray !default;
$dark: $black !default;
$light: $white !default;
$danger: $red !default;
$success: $green !default;
$warning: $orange !default;
$info: $blue !default;
$btn-padding-y-sm: 0.63rem !default;
$btn-padding-x-sm: 1.5rem !default;
$btn-padding-y: 0.75rem !default;
$btn-padding-x: 1.75rem !default;
$btn-padding-y-lg:  0.75rem !default;
$btn-padding-x-lg:  2rem !default;
$btn-border-radius-sm: 0.375rem !default;
$btn-border-radius-lg: 0.375rem !default;
