// Variables

// colors
$gray: #EDF0F8;
$gray-outline: #BDC4DD;
$light-black: #1C1F2C;
$white: #fff;
$green: #14E17F;
$red: #F65045;
$orange: #F69A45; 
$blue: #18A0FB;
$dark-gray: #DBE1F2;
$dark-black: #0A0B14;
$dark-blue: #4A5FEF;

// Main Colors
$primary: $dark-blue !default;
$secondary: $gray !default;
$danger: $red !default;
$success: $green !default;
$warning: $orange !default;
$info: $blue !default;

$dark: $light-black !default;
$light: $white !default;

// Fonts

$font-family-base: 'Inter', sans-serif;

// Btn Sizes
$btn-padding-y-sm: 0.63rem !default;
$btn-padding-x-sm: 1.5rem !default;
$btn-padding-y: 0.75rem !default;
$btn-padding-x: 1.75rem !default;
$btn-padding-y-lg:  0.75rem !default;
$btn-padding-x-lg:  2rem !default;
$btn-border-radius-sm: 0.375rem !default;
$btn-border-radius-lg: 0.375rem !default;
$btn-font-size-sm: 0.875rem !default;   
$btn-font-size: 1rem !default;  
$btn-font-size-lg: 1.25rem !default;

// typography

$display-font-weight: 700;
$display-font-sizes: (
  1: 7rem,
  2: 5rem,
  3: 4.5rem,
  4: 4rem,
  5: 3.5rem,
  6: 2.8rem
) !default;

// My Prefix
$variable-prefix:             yr- !default; // Deprecated in v5.2.0 for the shorter `$prefix`